python>=3.9
basemap
cartopy
cartopy_offlinedata
cdo
cmocean
cmaps
dask
dask-jobqueue
dask-labextension
distributed
esmf
ffmpeg
git
git-lfs
gsw
h5netcdf
h5py
ipykernel>=6
matplotlib-base
nbclassic>=0.2.8  # See https://github.com/jupyterlab/jupyterlab/issues/10228
nbval
nbgitpuller
nco
ncview
netcdf4
nfft
nodejs
nomkl
numba
numcodecs
numpy
pandas
panel
papermill
pip
pytest
python-graphviz
pyviz_comms
scipy
seaborn
seawater
vim
xarray
xgcm
xhistogram
xmovie
xesmf
xeofs
xrft
zarr
